body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #2F4F4F;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
aside {
	width: 22%;
	height: 600px;
	background: #C0C0C0;
	color: #000000;
	float: right;
	border: 2px solid black;
	margin: 20px;
    padding-bottom: 50px;
}
section {
	width: 75%;
	height: 600px;
    color: #000000;
    background: #808080;
	margin-left: 280px;
	padding-bottom: 50px;
    border: 2px solid black;
	margin: 30px;
}

footer {
	height: 40px;
	color: #000000;
	border: 2px solid black;
	margin: 20px;
	padding-bottom: 10px;

	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #C0C0C0; /* Цвет фона */
    width: 97%; /* Ширина слоя */
}
h1 {
	display: inline-block;
	color: #000000;
	font: 25px 'Oswald', sans-serif;
}
hr {
	color: #000000;
	size: '3';
}
header {
    text-align: center;
}

a {
    color: #000000;
}
a:hover {
    color: #0000FF; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}

nav ul {
	margin: 10px;
	padding-bottom: 10px;
}

nav li {
	list-style-position: inside;
	font: 16px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	background: #C0C0C0;
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.top-menu li.active {
	background: #333366;
}

.top-menu a.active {
	background: #333366;
}

#heading {
	margin: 50;
	text-align: center;
	color: #000000;
	font: 30px/30px 'Oswald', sans-serif;
}

#heading_2 {
	margin: 50;
	text-align: center;
	color: #000000;
	font: 20px/20px 'Oswald', sans-serif;
}

#map {
    margin: 20px;
    width: 70%;
    height: 600px;
}
#settings_bd{
    margin: 40px;
    width: 35%;
    height: 580px;
    border: 2px solid black;
}
#settings_iface{
    margin: 10px;
    width: 62%;
    height: 580px;
    float: right;
    border: 2px solid black;
}
#all_iface{
    margin: 10px;
    width: 40%;
    background: #C0C0C0;
    border: None;
    height: 400px;
}

#air_iface{
    margin: 10px;
    width: 50%;
    background: #C0C0C0;
    border: None;
    height: 400px;
}