body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #2F4F4F;
	border-top: 5px solid #7e7e7e;
	margin: 10;
}
aside {
	width: 25%;
	height: 80vh;
	background: #C0C0C0;
	color: #000000;
	float: right;
	border: 2px solid black;
	margin: 5px;
	overflow-y: auto;
}
section {
	width: 73%;
	height: 80vh;
    color: #000000;
    background: #808080;
	border: 2px solid black;
	margin: 5px;
	overflow-y: auto;
}

footer {
	height: 10px;
	color: #000000;
	border: 2px solid black;
	margin: 10px;

	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #C0C0C0; /* Цвет фона */
    width: 97%; /* Ширина слоя */
}
h1 {
	display: inline-block;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}
hr {
	color: #000000;
	size: 3;
}
header {
    text-align: center;
}

a {
    color: #000000;
}
a:hover {
    color: #0000FF; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}

nav ul {
	margin: 5px;
	padding-bottom: 5px;
}

nav li {
	list-style-position: inside;
	font: 12px 'Oswald', sans-serif;
	padding: 5px;
}

.top-menu li {
	background: #C0C0C0;
	display: inline-block;
	padding: 5px 15px;
	margin: 10;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.top-menu li.active {
	background: #333366;
}

.top-menu a.active {
	background: #333366;
}

#heading {
	margin: 10;
	text-align: center;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}

#heading_2 {
	margin: 50;
	text-align: center;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}

#map {
	position:absolute;
    margin: 20px;
    width: 70%;
	height: 80vh;
}
#settings_bd{
    margin: 5px;
    width: 44%;
    height: 90%;
    border: None;
}
#settings_iface{
    background: #808080;
    margin: 5px;
    width: 53%;
    height: 90%;
    float: right;
    border: None;
}
#all_iface{
    margin: 5px;
    width: 40%;
    border: None;
    height: 90%;
}

#air_iface{
    margin: 5px;
    width: 55%;
    background: #808080;
    border: None;
    height: 90%;
}
#logs{
    font: 9px 'Oswald', sans-serif;
}