body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #35a3a7;
	margin: 10px;
}
aside {
	width: 25%;
	height: 79vh;
	background: #C0C0C0;
	color: #000000;
	float: right;
	border: 1px solid black;
	margin: 5px;
	overflow-y: auto;
}
section {
	width: 73%;
	height: 79vh;
    color: #000000;
    background: #6b805e;
	border: 1px solid black;
	margin: 10px;
	overflow-y: auto;
}

footer {
	height: 10px;
	color: #000000;
	border: 1px solid black;
	margin: 10px;
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #C0C0C0; /* Цвет фона */
    width: 97%; /* Ширина слоя */
}
h1 {
	display: inline-block;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}
#border{
	color: #000000;
	size: 4px;
}
header {
    text-align: center;
}

a {
    color: #000000;
}
a:hover {
    color: #0000FF; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}

nav ul {
	margin: 5px;
	padding-bottom: 5px;
}

nav li {
	list-style-position: inside;
	font: 12px 'Oswald', sans-serif;
	padding: 5px;
}

.top-menu{
	margin-left: 15%; /* Отступ слева */
	margin-right: 15%; /* Отступ справа */
}

.top-menu li {
	background: #C0C0C0;
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

#heading {
	margin: 5px;
	text-align: center;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}

#heading_2 {
	margin: 5px;
	text-align: center;
	color: #000000;
	font: 15px 'Oswald', sans-serif;
}

#map {
    width: 100%;
	height: 100%;
}
#settings_bd{
    margin: 10px;
    width: 35%;
    height: 90%;
    border: None;
}
#settings_iface{
    background: #6b805e;
    margin: 10px;
    width: 60%;
    height: 90%;
    float: right;
    border: None;
}
#all_iface{
    margin: 10px;
    width: 40%;
    border: None;
    height: 90%;
}

#air_iface{
    margin: 10px;
    width: 55%;
    background: #6b805e;
    border: None;
    height: 90%;
}
#logs{
    font: 9px 'Oswald', sans-serif;
}

#query_db{
	margin: 5px;
}
#query{
	margin: 10px;
}
#hs_settings{
    margin: 10px;
    width: 25%;
    height: 90%;
    border: None;
}
#hs_clients{
    background: #6b805e;
    margin: 10px;
    width: 70%;
    height: 90%;
    float: right;
    border: None;
}

.btn_start{
	color: black;
    font-size: 12pt;
	border-radius: 5px;
	background: green;
}

.btn_stop{
	color: black;
    font-size: 12pt;
	border-radius: 5px;
	background: red;
}
#hostapd_raw_logs
{
	height: 40vh;
	margin: 0;
	width: 95%;
}
#monitoring{
	width: 99%;
	height: 97%;
	border: None;
}