{% extends "base.html" %}
		{% block content %}
            <aside>
                {% block logs %}
                <div id="heading_2">Логи</div>
                <form id="query">
                    <output id="logs">
                        {% for row in log_rows %}
                        <p>{{ row }}</p>
                        {% endfor %}
                    </output>
                </form>
                {% endblock %}
            </aside>
            <section class="content">
                {% block managment %}
                {% endblock %}
            </section>
        {% endblock %}
        {% block scripts %}
                <script type="text/javascript" src="/static/js/get_log.js"></script>
        {% endblock %}

