{% extends "base.html" %}
		{% block content %}
            <aside>
                {% block logs %}
                <div id="heading_2">Логи</div>
                <form id="query">
                    <output id="logs">
                        {% for row in log_rows %}
                        <p>{{ row }}</p>
                        {% endfor %}
                    </output>
                </form>
                {% endblock %}
            </aside>
            <section class="content">
                {% block managment %}
                {% endblock %}
            </section>
        {% endblock %}
        {% block scripts %}
                <script>
                    function onAjaxSuccess(data)
                    {
                        $("#logs").html(data);
                    }
                    function getLogs()
                    {
                        $.ajax({url: "/get-logs/",
                        type: "GET",
                        cache: false,
                        data: "count_rows=30" + "&file_name=main.log",
                        success: onAjaxSuccess});
                    }
                    setInterval(getLogs, 1000);
                </script>
        {% endblock %}

