{% extends "manage_and_logs.html" %}
        {% block scripts %}
            <script src="/static/js/save_db_settings.js" type="text/javascript"></script>
        {% endblock %}
		{% block managment %}
            <aside id="settings_iface">
                <div id="heading_2">Настройки сетевых интерфейсов</div>
                 <p><b>Доступные сетевые интерфейсы:</b><Br>
                    {% for iface in iface_list %}
                        <input type="radio" name="iface" value="{{ iface }}">{{ iface }}<BR>
                    {% endfor %}
                 </p>
                <p><b>Доступные беспроводные интерфейсы:</b><Br>
                    {% for iface in air_iface_list %}
                        <input type="radio" name="iface" value="{{ iface }}">{{ iface }}<BR>
                    {% endfor %}
                 </p>
            </aside>
            <section id="settings_bd">
                <div id="heading_2">Настройки БД</div>
                <form id="db" method="post">
                    <p><b>IP адрес сервера БД:</b><br>
                        <input type="text" size="40" name="ip" value="{{ db_host }}">
                    </p>
                    <p><b>Имя БД:</b><br>
                        <input type="text" size="40" name="name" value="{{ db_name }}">
                    </p>
                    <p><b>Имя пользователя БД:</b><br>
                        <input type="text" size="40" name="login" value="{{ db_user }}">
                    </p>
                    <p><b>Пароль пользователя БД:</b><br>
                        <input type="text" size="40" name="passwd" value="{{ db_password }}">
                    </p>
                    <p><input type="button" value="Сохранить новые настройки" onclick="">
                    </p>
                </form>
                <form id="test_db">
                    <p>
                        <input type="button" value="Загрузить текущие натсройки" onclick="">
                        <p>
                        <input type="button" value="Проверить соединение" onclick="">
                        <output name="result"><b>{{ connection_status }}</b></output></p>
                    </p>
                </form>
            </section>
        {% endblock %}